<?xml version="1.0" encoding="UTF-8" ?>
<!--dtd文件相当于以前的xsd文件+命名空间-->
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>
<!-- 参考地址：http://www.dba.cn/book/mybatis/MYBATISZhongWenShouCe/MYBATISXMLPeiZhi.html -->
<!-- settings标签是全局参数的设置 -->
<settings>
    <!--在控制台输出日志语句-->
    <setting name="logImpl" value="STDOUT_LOGGING"/>
    <!-- 延迟加载的全局开关 -->
    <setting name="lazyLoadingEnabled" value="true"/>
    <!-- 当启用时，对任意延迟属性的调用会使带有延迟加载属性的对象完整加载；反之，每种属性将会按需加载。 -->
    <setting name="aggressiveLazyLoading" value="true"/>
    <!-- 该配置影响的所有映射器中配置的缓存的全局开关。 -->
    <setting name="cacheEnabled" value="true"/>
    <!-- 是否开启自动驼峰命名规则 -->
    <setting name="mapUnderscoreToCamelCase" value="true"/>
</settings>

<!-- 配置别名.指定一个包名，MyBatis 会在包名下面搜索需要的 Java Bean -->
<typeAliases>
  <package name="com.demo.ssm.bean"/>
</typeAliases>

<!--environments 标签是多个数据库连接参数的设置，default属性指定多个数据库连接里默认的一个-->
<!-- MyBatis 可以配置成适应多种环境，这种机制有助于将 SQL 映射应用于多种数据库之中， 现实情况下有多种理由需要这么做 -->
    <environments default="development">
        <!-- environment是一个数据库连接的设置，oracle数据库-->
        <!-- <environment id="oracleDS">
            <transactionManager type="JDBC"/>
            <dataSource type="UNPOOLED">
                <property name="driver" value="oracle.jdbc.driver.OracleDriver" />
                <property name="url" value="jdbc:oracle:thin:@localhost:1521:elm" />
                <property name="username" value="ums"/>
                <property name="password" value="ums"/>
            </dataSource>
        </environment> -->
         <!-- environment是一个数据库连接的设置，mysql数据库-->
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="UNPOOLED">
                <property name="driver" value="${jdbc.jdbcUrl}" />
                <property name="url" value="${jdbc.driverClass}" />
                <property name="username" value="${jdbc.uername}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment> 
  </environments>

</configuration>